{% extends "layout.html" %}

{% block main %} 
    <div class="border border-info border-2 rounded-top"> 
        <div id="user_m" data-user-id="{{user_id}}" class="blockquote"></div>
        <div id="friend_m" data-group-id="{{group_id}}" class="text-end blockquote"></div>
    </div>
    
    <!-- <div class="form-floating">
        <textarea data-chat-id="{{group_id}}" id="messages" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>  
    </div> -->
    <br>
    <div class="input-group">     
        <textarea class="form-control" aria-label="With textarea" id="content"></textarea>
        <button class="btn btn-primary" onclick="get_content('{{group_id}}')">Send</button>
    </div>
    <script src="/static/chat.js"> </script>
{% endblock %}
