{% extends "layout.html" %}

{% block main %} 
    <div class="rounded border-1 border border-success bg-success" id="main_div" data-friend-name="{{friend_name}}" data-group-id="{{group_id}}" data-user-id="{{user_id}}"> 
        <div id="messages" class="blockquote"></div>
        <!-- <div class="text-end blockquote"></div> -->
    </div>
    
    <!-- <div class="form-floating">
        <textarea data-chat-id="{{group_id}}" id="messages" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>  
    </div> -->
    <br>
    <div class="input-group">     
        <textarea class="form-control" aria-label="With textarea" id="content"></textarea>
        <button class="btn btn-success" onclick="get_content('{{group_id}}')" id="send_button">Send</button>
    </div>
    <script src="/static/chat.js"> </script>
    <script>
        var input = document.getElementById("content");
        input.addEventListener("keyup", function(event) {
        // Number 13 is the "Enter" key on the keyboard
        if (event.keyCode === 13 && !event.shiftKey) {
            // Cancel the default action, if needed
            event.preventDefault();
           // Trigger the button element with a click
            document.getElementById("send_button").click();
            }
        });
    </script>
        
{% endblock %}
