{% extends "layout.html" %}

{% block main %}
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Friend's username" aria-label="Search" name="searchall">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <form class="d-flex">
                <a href="/friends/add" class="btn btn-primary justify-content-md-end form-control me-2" role="button">+</a>
            </form>
        </div>
    </nav>
    <br>
    <ul class="list-group"> 
        {% if not related_results and search_name%}    
            <div class="alert alert-success" role="alert">
                No result! Check friend's username
            </div>
        {% endif %}
        {% for userself_id in userself %}
        <li class="list-group-item d-flex justify-content-between align-items-center fst-italic fs-4 fw-bold rounded-pill border-primary text-primary text-uppercase">
            Hi! {{ related_results[userself_id] }}                    
        </li>  
        {% endfor %}
        {% for is_friend_id in are_friends %}    
            <li class="list-group-item d-flex justify-content-between align-items-center fst-italic fs-4 fw-bold rounded-pill border-primary text-primary">
                {{ related_results[is_friend_id] }}                  
                    <span>
                        <a href="{{ url_for('startchat', friend_id=is_friend_id) }}" class="btn btn-success me-md-2" type="button" role="button">Chat</a>        
                        <a href="{{ url_for('friends_remove', friend_id=is_friend_id) }}" class="btn btn-outline-danger" type="button" role="button">Remove</a>             
                    </span>    
            </li>  
        {% endfor %}  
        {% for not_yet_id in not_yet %}    
            <li class="list-group-item d-flex justify-content-between align-items-center fst-italic fs-4 fw-bold rounded-pill border-primary text-primary">
                {{ related_results[not_yet_id] }}                  
                    <span>
                        <a href="{{ url_for('friends_send_request', the_to_id=not_yet_id) }}" class="btn btn-primary justify-content-md-end form-control me-2" role="button">Send friend request</a>
                    </span>    
            </li>  
        {% endfor %}        
    </ul>
    <br>
    <ul class="list-group">
        {% for id in senders %}
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-success">
                A friend request from: {{ senders[id] }}
                <span>            
                    <a href="{{ url_for('friends_accept', sender_id=id) }}" class="btn me-md-2 btn-outline-dark" type="button" role="button">Accept</a>
                    <a href="{{ url_for('friends_reject', sender_id=id) }}" class="btn btn-outline-danger" type="button" role="button">Reject</a>             
                </span> 
            </li> 
        {% endfor %}  
    </ul>
    <br>
    <ul class="list-group"> 
        {% for friend_id in friends %}      
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ friends[friend_id] }}
                <span>
                    <a href="{{ url_for('startchat', friend_id=friend_id) }}" class="btn btn-success me-md-2" type="button" role="button"><Colg>Chat</Colg></a>             
                    <a href="{{ url_for('friends_remove', friend_id=friend_id) }}" class="btn btn-outline-danger" type="button" role="button">Remove</a>             
                </span>  
            </li>  
        {% endfor %}        
    </ul>

    {% if add_success: %}
        <div class="alert alert-success" role="alert">
            Sent request successfully!
        </div>
    {% endif %}    

{% endblock %}
